.paragraph {
  margin-block-start: 0;
  line-height: 1.5em;
  color: #444444;
}

.standard {
  composes: paragraph;
  font-size: 1.125rem;
}

.small {
  composes: paragraph;
  font-size: 0.9rem;
}

.tiny {
  composes: paragraph;
  font-size: 0.675rem;
}

@media (max-width: 450px) {
  .standard {
    font-size: 1rem;
  }

  .small {
    font-size: 0.8rem;
  }
}
